.ObjectProperty{
    width : 900px;
    background-color: rgb(255, 249, 241);
    border-style: solid;
    border-width: 2px;
    border-color:#d1cfcd;
    border-radius: 5px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
}

.ObjectProperty_head{
    padding-left: 30px;
}

.ObjectProperty_value{
    padding:2px;
    padding-right: 10px;
}