html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

.titlebar {
  position: absolute;
  width: 100%;
  padding-left: 10px;
  height:20px;
  background-color: aliceblue;
  -webkit-app-region: drag;
}

.message {
  background-color: aqua; 
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  color: #777;
  font-weight: 200;
  text-align: center;
  margin-top: -125px;
  margin-left: -250px;
}

.message h1 {
  font-size: 50px;
  font-weight: 100;
  color: #333;
}

.message div {
  margin-bottom: 10px;
}
