.main_console {
    width: 50vh;
    height: 100%;
    vertical-align: top;
    border-style:dashed;
    text-align: center;
}

.main_console textarea {
    width: 99%;
    height: 98%;    
    resize: none;
}