.main_console {
    width: 100%;
    min-width: 300px;
    height: 90%;
    vertical-align: top;
    border-style:dashed;
    text-align: center;
}

.main_console textarea {
    width: 99%;
    height: 98%;    
    resize: none;
}