.main_console {
    width: 100%;
    /* min-width: 300px; */
    height: 100%;
    vertical-align: top;
    border-style:dashed;
    text-align: center;
    /* background-color: aqua; */
}

/* .main_console textarea { */
    /* width: 99%; */
    /* height: 50%;     */
    /* resize: none;     */
    /* white-space: nowrap; */
    /* overflow-x:auto; */
    /* overflow-y:hidden; */
/* } */