.ObjectProperty{
    width : 100%;
    background-color: #f2f0ed;
    border-style: solid;
    border-width: 2px;
    border-color:#d1cfcd;
    border-radius: 5px;
    display: flex;
    vertical-align: middle;
    align-items: top;
    justify-content: space-between;
}

.ObjectProperty_head{
    width:20%;
    padding-left: 10px;
}

.ObjectProperty_value{
    width:70%;
    padding-top: 5px;
    padding-right: 5px;
}

.ObjectProperty_textarea{
    width:100%;
    min-height: 10px;
    height: 25px;
}