/my-app/node_modules

/ElectronEdu/simple-app/node_modules
/ElectronEdu/bozon_elec_edu/.tmp
/ElectronEdu/bozon_elec_edu/node_modules
/ElectronEdu/bozon_elec_edu/builds
/ElectronEdu/bozon_elec_edu/packages
/ElectronEdu/bozon_elec_edu/bower_components

/ElectronEdu/bozon_elec_edu_ipc/.tmp
/ElectronEdu/bozon_elec_edu_ipc/node_modules
/ElectronEdu/bozon_elec_edu_ipc/builds
/ElectronEdu/bozon_elec_edu_ipc/packages
/ElectronEdu/bozon_elec_edu_ipc/bower_components
