.MainComponentPanel{
    background-color: #f2f0ed;
    width: 100%;
    height: 100%;
}
.SlideComponentPanel{
    background-color: #d1cfcd;
    width: 380px;
    height: 95%;
    overflow: scroll;
}