.MainComponentPanel{
    background-color: #f2f0ed;
    width: 400px;
    height: 65vh;
}
.SlideComponentPanel{
    background-color: #d1cfcd;
    width: 380px;
    height: 95%;
    overflow: scroll;
}