.componentElement{
    background-color: #f2f0ed;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #868686;
}

.phantom{
    opacity: 0.5;
}

table, th, td , tr{
    height: 10px;
    width:50px;
    border: 1px solid black;
    line-height: 14px;
  }


input{
    width: 75px;
  }


label{
  font-weight: bold;
}

.elementButton {
    /* border:"none"; */          /*Стили не подтягиваются*/
    /* background: "none"; */     /*Стили не подтягиваются*/
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(0, 255, 255, 0);
  }